<html lang="en">
<head>
    <title> {{ title }} </title>
</head>
<body style="font-family:arial;font-size:13px;">
	<h1>{{ stats['contributor'] }}</h1>
	<p>In {{ stats['year'] }}...</p>
	<ul><li>... you opened <b>{{ stats['prs_opened'] }} PRs</b>.</li>
	<li>... your favorite components were:
	<ol>
	{% for component in stats['components'] %}
	<li><a href= 'https://github.com/bitcoin/bitcoin/pulls?utf8=%E2%9C%93&q=is%3Apr+author%3A{{ stats['contributor'] }}+label%3A"{{ component[0] }}"'>{{ component[0] }} ({{ component[1] }} Pull Requests)</a></li>
	{% endfor %}
	</ol></li>
	<li/>... you had <b>{{ stats['prs_merged'] }} PRs</b> (including <b>{{ stats['commits'] }} commits)</b> merged</li>
	<li>... your most popular PRs (by review comments) were
	<ol>
	{% for pr in stats['popular_prs'] %}
	<li><a href="https://github.com/bitcoin/bitcoin/pull/{{ pr['number'] }}">#{{ pr['number'] }} - {{ pr['title']}} ({{ pr['comments'] }} comments)</a></li>
	{% endfor %}
	</ol></li>
	<li>... you made <b>{{ stats['comments'] }}</b> review comments</li></ul>
</body>
</html>
